
/* .container .col{
	background-color: rgb(255, 164, 44);
	
} */
.container {
	height: 200px;
	background-color: rgba(158, 250, 152, 0.405);
}
.row {
	height: 100%;
}
.row *:nth-child(even)
{
	background-color: antiquewhite;
}
.row *:nth-child(odd)
{
	background-color: rgb(245, 179, 94);
}
